/* common.css */
body {
    width:1900px;
}

/* header */
header {}
header .ad_bnr {
    position:relative;
}
header .ad_bnr a {}
header .ad_bnr a:last-child {
    position:absolute; right:20px; bottom:5px;
}
header .ad_bnr a img {}

header .header {
    width:1680px;
    display:flex; justify-content: space-between;
    align-items:end;
    padding:30px 0 5px;
    position:absolute; left:120px; top:0;
    z-index: 10;
}
header .header h1 {}
header .header h1 a {}
header .header h1 a img {}

header .header nav {}
header .header nav .gnb {
    display:flex;
    position:relative;
}
header .header nav .gnb > li {
    font-weight:500;
    margin-right:40px;
    padding-bottom:5px;
    position:relative;
}
header .header nav .gnb > li > a {
    font-weight:500;
    position:relative;
}
header .header nav .gnb > li > a:hover::after {
    width:100%;
}
header .header nav .gnb > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #0E4885;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}
header .header nav .gnb > li > a:last-child {margin-right:0;}


header .header nav .gnb > li:hover .lnb_bg {display:block;}
header .header nav .gnb > li .lnb_bg {display:none;}
header .header nav .gnb > li .lnb_bg {
    background-color:rgba(255,255,255,0.8);
    /* width:600px; */ 
    padding:20px 50px;
    position:absolute; left:-80%; top:100%;
    z-index:100;
}

header .header nav .gnb > li .lnb_bg1 {}
header .header nav .gnb > li .lnb_bg2 {}
header .header nav .gnb > li .lnb_bg3 {}


header .header nav .gnb > li .lnb_bg .lnb_depth1 {
    width:max-content;
    display:flex;
    text-align:center;
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li {
    margin-right:100px; padding:10px;
}

header .header nav .gnb > li .lnb_bg .lnb_depth1 > li:last-child {
    margin-right:0; margin-bottom: 0;
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li a {
    font-weight:500;
    color:#333;
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li a:hover {
    color:#0E4885;
}

header .header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    margin-top:30px;
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 > li {
    margin-bottom:20px;
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 > li:last-child {
    margin-bottom:0;
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 > li a {
    font-weight:400;
    color:rgba(51, 51, 51, 0.7);
}
header .header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 > li a:hover {
    color:#0E4885;
}

header .header .left {
    display:flex; align-items:center;
    height:30px;
}
header .header .left .search_box {
    position:relative;
    margin-right:10px;
    display: flex;
    border-radius:8px;
    border:1px solid rgba(0,0,0,0.3);
    padding:5px 10px;
    width:230px; height:30px;
}
header .header .left .search_box input {
    font-size:0.75rem;
    width:180px;
    background-color: transparent;
    color:rgba(0,0,0,0.8);
}
header .header .left .search_box > a {
    position:absolute; right:10px; top:4px;

}
header .header .left .search_box a img {}
header .header .left p {
    margin-right:10px;
}
header .header .left p a {}
header .header .left p a img {}
header .header .left .leng {
    border:1px solid #333;
    border-radius:5px;
    width:57px; height:23px;
    font-size:0.813rem;
    text-align:center;
    background-color: transparent;
}
header .header .left .leng option {
    font-size:0.813rem;
}


header .ad_swiper{}
header .ad_swiper .swiper-wrapper {
    width:100%; height:900px;
}
header .ad_swiper .swiper-wrapper .swiper-slide {
    height:100%;
}
header .ad_swiper .swiper-wrapper .slide1 {
    background-image:url(../images/main_bnr.png);
}
header .ad_swiper .swiper-wrapper .slide2 {
    background-image:url(../images/main_bnr.png);
}
header .ad_swiper .swiper-wrapper .slide3 {
    background-image:url(../images/main_bnr.png);
}
header .ad_swiper .swiper-button-prev,
header .ad_swiper .swiper-button-next {
    color: #0E4885; opacity:50%;
}
header .ad_swiper .swiper-pagination {}
header .ad_swiper .swiper-pagination-bullet {
    background-color: #0E4885;
}




/* footer */
footer {
    width:1680px; margin:0 auto; padding:100px 0;
    border-top:1px solid rgba(0,0,0,0.3);
    display: flex; justify-content: space-between;
}
footer .left {}
footer .left .top {}
footer .left .top p {}
footer .left .top p:nth-child(1) {
    font-size:1.25rem;
}
footer .left .top p:nth-child(2) {
    font-size:2.25rem; font-weight:600;
    margin:20px 0;
}


footer .left .bottom {
    margin-top:20px;
}
footer .left .bottom .mail {
    display:flex; align-items: center;
    margin-bottom:20px;
}
footer .left .bottom .mail p {}
footer .left .bottom .mail .mail_wrap {
    display:flex; flex-flow:column nowrap;
}
footer .left .bottom .mail .mail_wrap span {}
footer .left .bottom .bank {
    display:flex; align-items: center;
}
footer .left .bottom .bank p {}
footer .left .bottom .bank .bank_wrap {
    display:flex; flex-flow:column nowrap;
}
footer .left .bottom .bank .bank_wrap span {}

footer .left .bottom .mail p,
footer .left .bottom .bank p {
    font-size:0.75rem;
    border:1px solid rgba(0,0,0,0.5);
    border-radius:10px;
    width:147px; line-height:34px;
    text-align:center;
    margin-right:20px;
}
footer .left .bottom .mail .mail_wrap span,
footer .left .bottom .bank .bank_wrap span {
    font-size:0.875rem; margin-bottom:2px;
}


footer .center {
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items: center;
}
footer .center a {}
footer .center a img {}
footer .center .sns {
    margin-top:20px;
}
footer .center .sns a {margin-right:10px;}
footer .center .sns a:last-child {margin-right:0;}
footer .center .sns a img {}

footer .right {
    text-align:right;
}
footer .right .top {}
footer .right .top a {
    margin-right:15px;
    font-size:0.875rem;
}
footer .right .top a:last-child {margin-right:0;}
footer .right address {
    margin:20px 0;
    line-height:1.6;
    font-size:0.75rem;
}
footer .right > p {
    font-size:0.75rem;
}
