/* index.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {}

/* 1행 메인사진 */
main  .ad_swiper{}
main  .ad_swiper .swiper-wrapper {
    width:100%; height:900px;
}
main  .ad_swiper .swiper-wrapper .swiper-slide {
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}
main  .ad_swiper .swiper-wrapper .slide1 {
    background-image:url(../images/main_bnr2.jpg);
}
main  .ad_swiper .swiper-wrapper .slide2 {
    background-image:url(../images/brand_story/photo2.png);
}
main  .ad_swiper .swiper-wrapper .slide3 {
    background-image:url(../images/main_bnr3.jpg);
}
main  .ad_swiper .swiper-button-prev,
main  .ad_swiper .swiper-button-next {
    color: #0E4885; opacity:50%;
}
main  .ad_swiper .swiper-pagination {}
main  .ad_swiper .swiper-pagination-bullet {
    background-color: #0E4885;
}
/* =========================================== */

/* 광고배너 */
main .ad_bnr {
    position:relative;
}
main .ad_bnr a {}
main .ad_bnr a:last-child {
    position:absolute; right:20px; bottom:5px;
}
main .ad_bnr a img {}

/* =========================================== */

/* 2행 홍보문구 */
main .title_g {
    display:flex; align-items:center;
    width:1042px;
    margin:100px auto 50px;
}
main .title_g .title {
    margin-right:80px;
    text-align:center;
}
main .title_g .title > p {
    font-size: 1.125rem;
    margin-bottom:10px;
}
main .title_g .title h2 {
    font-size:2.813rem; font-weight:700;
    line-height:1.1;
}
main .title_g > p {
    font-size: 1.125rem;
    line-height:1.8;
}
/* ===========================================  */

/* 3행 new상품 */
main .new_product {
    width:1680px;
    margin:100px auto 150px;
}
main .new_product .new_title {
    display:flex; justify-content: space-between;
    margin-bottom:40px;
}
main .new_product .new_title h2 {
    font-size: 1.75rem; font-weight:600;
}
main .new_product .new_title .more {
    display:flex; align-items: center;
}
main .new_product .new_title .more span {
    font-weight:500;
}
main .new_product .new_title .more img {}
main .new_product .new_swiper {}
main .new_product .new_swiper .swiper-wrapper {
    margin-bottom:100px
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product {
    display:flex; justify-content: space-between;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .photo_icon {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .photo_icon p {
    border:1px solid transparent;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .photo_icon p:hover {
    border:1px solid #EDB0B7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .photo_icon p img {}


main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .prod_info {
    text-align:center;
    margin-top:20px;
    position:relative;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .prod_info p {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .prod_info p:first-child::after {
    content:''; display:block;
    width:150px; border-bottom:0.3px solid rgba(0,0,0,0.1);
    margin:20px 125px 10px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .new_icon {
    display:flex; justify-content: right; align-items: center;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .new_icon button {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .new_icon button:hover {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide .product li .prod_content .new_icon button img {
    width:24px;
}
main .new_product .new_swiper .swiper-pagination-bullet {
    background-color: #EDB0B7;
}

/* ===========================================  */

/* 4행 이벤트배너 */
main .event_bnr {
    display:flex;
}
main .event_bnr a {}
main .event_bnr a img {}
/* ===========================================  */

/* 5행 best 상품 */
main .best_product {
    width:1680px;
    margin:0 auto;
    padding:150px 0 100px;
}
main .best_product .title {
    display:flex; align-items:end; justify-content: space-between;
}
main .best_product .title h2 {
    font-size:1.75rem; font-weight:600;
}
main .best_product .title .more {
    display:flex; align-items: center;
}
main .best_product .title .more span {}
main .best_product .title .more img {}
main .best_product .content {
    display:flex;
    margin:50px 0;
}
main .best_product .content .menu_g {
    margin-right:150px;
}
main .best_product .content .menu_g li {
    margin-bottom:20px;
    width:98px;
}
main .best_product .content .menu_g li:last-child {margin-bottom:0;}
main .best_product .content .menu_g li a {
    font-weight:500;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom:3px;
}
main .best_product .content .menu_g li a:hover {
    color:#0E4885;
}
main .best_product .content .menu_g li a:hover::after {width:100%;}
main .best_product .content .menu_g li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #0E4885;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

main .best_product .content .best_swiper {}
main .best_product .content .best_swiper .swiper-wrapper {
    width:1600px;
    margin-bottom:100px;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide {}

main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content {}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .photo_icon {
    position:relative;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .photo_icon p {
    border:1px solid transparent;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .photo_icon p:hover {
    border:1px solid #0E4885;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .photo_icon p img {}

main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .new_icon {
    display:flex; justify-content:right;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .new_icon button {}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .new_icon button img {
    width:24px;
}

main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .prod_info {
    text-align:center;
    margin-top:20px;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .prod_info p {
    font-size:1.125rem;
}
main .best_product .content .best_swiper .swiper-wrapper .swiper-slide .prod_content .prod_info p:first-child:after {
    content:''; display:block;
    width:150px; border-bottom:0.3px solid rgba(0,0,0,0.1);
    margin:20px 125px 10px;
}
main .best_product .content .best_swiper .swiper-scrollbar {}
main .best_product .content .best_swiper .swiper-scrollbar-drag {
    background-color: #0E4885; opacity:50%;
}



/* ===========================================  */

/* 6행 영상 */
main .vedio_bg {
    background:url(../images/video/video_bg.png) center / cover;
    padding:150px 0;
} 
main .vedio_bg .content_g {
    width:1450px;
    margin:0 auto;
    position:relative;
}
main .vedio_bg .content_g .title {
    display:flex; align-items: center;
} 
main .vedio_bg .content_g .title h2 {
    font-size:1.75rem; font-weight:600;
    margin-right:10px;
} 
main .vedio_bg .content_g .title h2 a {} 
main .vedio_bg .content_g .title h2 a img {} 
main .vedio_bg .content_g .vedio_swiper {
    position:relative;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper {} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide {
    display:flex; justify-content:space-between;
    margin-top:40px;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_content {} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_content iframe {
    width:1000px; height:700px;
    border-radius: 10px;
} 

main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product {
    border:0.5px solid rgba(0,0,0,0.5);
    border-radius:10px;
    background-color:#fff;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product p {} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product p img {} 

main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content {
    width:215px;
    margin:40px auto;
}
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content p {
    font-size:1.125rem; font-weight:500;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content h3 {
    font-size:1.125rem; font-weight:500;
    margin-bottom:15px;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content p:nth-of-type(2) {
    font-size:0.875rem;
    line-height:1.4;
    margin:30px 0 10px;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content .hashtag {} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content .hashtag span {
    font-size:0.75rem;
} 
main .vedio_bg .content_g .vedio_swiper .swiper-wrapper .swiper-slide .vedio_product .content button {
    background-color:#0E4885;
    color:#fff;
    padding:10px 80px;
    border-radius:50px;
    margin-top:20px;
} 

main .vedio_bg .content_g .vedio_swiper .swiper-button-prev,
main .vedio_bg .content_g .vedio_swiper .swiper-button-next {
    color:#0E4885;
}
/* ===========================================  */

/* 7행 리뷰 */
main .review_bg {
    background-color: #0E4885;
    padding:40px 0;
}
main .review_bg .title {
    display:flex; align-items: center;
    justify-content: center;
    margin-bottom:30px;
    text-align: center;
}
main .review_bg .title h2 {
    color:#fff;
    font-size: 1.75rem; font-weight:600;
    margin-right:10px;
}
main .review_bg .title p {
    width:20px;
}
main .review_bg .title p img {}

main .review_bg .review_swiper {
    width:1027px;
}
main .review_bg .review_swiper .swiper-wrapper {
    
}
main .review_bg .review_swiper .swiper-wrapper .swiper-slide {
    display: flex; align-items: center;
}
main .review_bg .review_swiper .swiper-wrapper .swiper-slide a {
    margin-right:50px;
}
main .review_bg .review_swiper .swiper-wrapper .swiper-slide a img {}

main .review_bg .review_swiper .swiper-wrapper .swiper-slide .review_content {}
main .review_bg .review_swiper .swiper-wrapper .swiper-slide .review_content p {
    font-size: 1.375rem;
    color:#fff;
    margin-bottom:20px;
    opacity: 0;
    transform: translateY(30px);
    transition:all 0.3s;
}
main .review_bg .review_swiper .swiper-wrapper .swiper-slide .review_content p.ani {
    animation: review 1s ease both;
    /* opacity: 1; transform: translateY(0); */
}
main .review_bg .review_swiper .swiper-slide .review_content p:nth-child(1) {}
main .review_bg .review_swiper .swiper-slide .review_content p.ani:nth-child(2) {
    animation-delay: 0.2s;
}
main .review_bg .review_swiper .swiper-slide .review_content p.ani:nth-child(3) {
    animation-delay: 0.4s;
}
main .review_bg .review_swiper .swiper-slide .review_content p.ani:nth-child(4) {
    animation-delay: 0.6s;
}

main .review_bg .review_swiper .swiper-wrapper .swiper-slide .review_content p:last-child {
    margin-bottom:0;
}

main .review_bg .swiper-pagination {
    position: relative;
    margin-top: 30px;
    text-align: center;
}
main .review_bg .swiper-pagination-bullet {
    background-color: #fff;
}

@keyframes review {
    0% {opacity: 0; transform: translateY(30px);}
    100% {opacity: 1; transform: translateY(0);}
}
/* ===========================================  */

/* 8행 띠배너 */
main .bnr {
    width: 1920px;
    height: 50px;
    background-image: url(../images/ad_bnr2.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    animation: bg-scroll 60s linear infinite;
}

@keyframes bg-scroll {
    0% {background-position: 0 0;}
    100% {background-position: -3000px 0;}
}
/* ===========================================  */

/* 9행 매거진 */
main .magazine_wrap {
    width:1400px;
    margin:0 auto;
    padding:150px 0;
}
main .magazine_wrap .title {
    margin-bottom:40px;
}
main .magazine_wrap .title a {
    display: flex; align-items: center; justify-content: center;
}
main .magazine_wrap .title a h2 {
    font-size:1.75rem; font-weight:600;
    margin-right:10px;
}
main .magazine_wrap .title a p {}
main .magazine_wrap .title a p img {}
main .magazine_wrap .magazine_content {}
main .magazine_wrap .magazine_content ul {
    display:flex; justify-content: space-between;
}
main .magazine_wrap .magazine_content ul li {
    width:350px;
    border:0.5px solid rgba(0,0,0,0.5);
    margin-right:1px;
}
main .magazine_wrap .magazine_content ul li:hover {
    transform:translateY(-15px);
}
main .magazine_wrap .magazine_content ul li a {}
main .magazine_wrap .magazine_content ul li a p {}
main .magazine_wrap .magazine_content ul li a p img {
    width:100%;
}
main .magazine_wrap .magazine_content ul li a .content {
    height:267px;
    padding:60px 20px;
}
main .magazine_wrap .magazine_content ul li a .content h3 {
    text-align:center;
    font-size:1.125rem; font-weight:600;
    line-height:1.4;
    margin-bottom:20px;
}
main .magazine_wrap .magazine_content ul li a .content p {
    font-size:0.875rem; font-weight:300;
    line-height:1.4;
}

/* ===========================================  */

/* 10행 브랜드배너 */

/* 11행 인스타그램 */
main .instagram_wrap {
    padding: 150px 0;
}
main .instagram_wrap .insta_title {
    display:flex; justify-content: center;
    margin-bottom:50px;
}
main .instagram_wrap .insta_title h2 {
    font-size:1.75rem; font-weight:600;
    margin-right:10px;
}
main .instagram_wrap .insta_title a {}
main .instagram_wrap .insta_title a img {}

main .instagram_wrap .insta_swiper {
    position:relative;
}
main .instagram_wrap .insta_swiper .swiper-wrapper {}
main .instagram_wrap .insta_swiper .swiper-wrapper .swiper-slide {}
main .instagram_wrap .insta_swiper .swiper-wrapper .swiper-slide a {}
main .instagram_wrap .insta_swiper .swiper-wrapper .swiper-slide a img {}
main .instagram_wrap .insta_swiper .swiper-wrapper .swiper-slide a:hover img {
    animation: insta 0.3s linear both;
}

@keyframes insta {
    0% {transform: scale(1);}
    100% {transform: scale(0.95);}
}