/* product.css */
body {
    padding-top:80px;
}
main {}
main .product_wrap {
    background-color: aqua;
    width:1176px; margin:135px auto;
}
main .product_wrap .path {
    display: flex; align-content:start; gap:5px;
    width:max-content;
}
main .product_wrap .path a {
    font-size: 0.625rem;
}

main .product_wrap section {}
main .product_wrap section .left_thumnail {
    background-color: plum;
    width:max-content;
    display: flex; gap:10px;
}
main .product_wrap section .left_thumnail .small {
    background-color: yellow;
    width:max-content;
    display: flex; flex-flow:column nowrap; gap:5px;
}
main .product_wrap section .left_thumnail .small a {}
main .product_wrap section .left_thumnail .small a img {}
main .product_wrap section .left_thumnail .small a:nth-child(4) img {
    width:80px; height:80px; border-radius: 20px;
}